<%- include("header") -%>
    <div class="context">
        <div class="box" id="heading">
            <h1>
                <%= kindOfDay %>
            </h1>
        </div>

        <div class="box">
            <% for(var i=0; i<newListItems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newListItems[i] %>
                    </p>
                </div>
                <% } %>

                    <form class="item" action="/" method="post">
                        <input type="text" name="next_task" placeholder="New Item" autocomplete="off">
                        <button type="submit" name="button">+</button>
                    </form>
        </div>
    </div>





    <!-- FOR THE ANIMATED BACGROUND -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <%- include("footer") -%>